.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  //ßbackground: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  background-color: var(--main-color);
  .container {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    img{
      height: 35px;
      cursor: pointer;
    }
     span {
      cursor: pointer;
    }
    .left {
      display: flex;
      align-items: center;
      font-size: 20px;

    }
    .right {
        span {
          //margin-right: 20px;
          cursor: pointer;
        }
      display: flex;
      align-items: center;
    }
  }
}
